In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../dataset/final_df_002.csv')
df.head()

,Date Time,Heater Heat Output,T.F Heater Outlet Flow Transmitter,T.F. Heater Serpentine Coil Outlet Temperature,Heater Outlet Flue Gas O2 Analyzer,T.F. Heater Outlet Flue Gas Temperature,Average T.F. Heater Outlet Temperature,Average T.F. Heater Serpentine Coil Inlet Temperature,Average Furnace Exit Temperature
0,2024-08-01 06:40:00,5142770.5,489.726562,223.199997,6.488715,392.299988,236.03333,212.949997,716.25
1,2024-08-01 06:50:00,5142770.5,489.726562,223.199997,6.488715,392.299988,236.03333,212.949997,716.25
2,2024-08-01 07:00:00,5142770.5,489.726562,223.199997,6.488715,392.299988,236.03333,212.949997,716.25
3,2024-08-01 07:10:00,5142770.5,489.726562,223.199997,6.488715,392.299988,236.03333,212.949997,716.25
4,2024-08-01 07:20:00,5142770.5,489.726562,223.199997,6.488715,392.299988,236.03333,212.949997,716.25