In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv('../dataset/final_df_002.csv')
df.tail()

,Date Time,Heater Heat Output,T.F Heater Outlet Flow Transmitter,T.F. Heater Serpentine Coil Outlet Temperature,Heater Outlet Flue Gas O2 Analyzer,T.F. Heater Outlet Flue Gas Temperature,Average T.F. Heater Outlet Temperature,Average T.F. Heater Serpentine Coil Inlet Temperature,Average Furnace Exit Temperature
5755,2024-09-10 05:50:00,5142770.5,489.726562,223.199997,6.488715,392.299988,236.03333,212.949997,716.25
5756,2024-09-10 06:00:00,5142770.5,489.726562,223.199997,6.488715,392.299988,236.03333,212.949997,716.25
5757,2024-09-10 06:10:00,5142770.5,489.726562,223.199997,6.488715,392.299988,236.03333,212.949997,716.25
5758,2024-09-10 06:20:00,5142770.5,489.726562,223.199997,6.488715,392.299988,236.03333,212.949997,716.25
5759,2024-09-10 06:30:00,5142770.5,489.726562,223.199997,6.488715,392.299988,236.03333,212.949997,716.25

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5760 entries, 0 to 5759
Data columns (total 9 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Date Time                                              5760 non-null   object
 1   Heater Heat Output                                     5760 non-null   float64
 2   T.F Heater Outlet Flow Transmitter                     5760 non-null   float64
 3   T.F. Heater Serpentine Coil Outlet Temperature         5760 non-null   float64
 4   Heater Outlet Flue Gas O2 Analyzer                     5760 non-null   float64
 5   T.F. Heater Outlet Flue Gas Temperature                5760 non-null   float64
 6   Average T.F. Heater Outlet Temperature                 5760 non-null   float64
 7   Average T.F. Heater Serpentine Coil Inlet Temperature  5760 non-null   float64
 8   Average Furnace Exit Temperature                       5760 non-null   float64
dtypes: float64(8), object(1)
memory usage: 405.1+ KB

In [6]:
train_size  =  round((len(df)*0.8))
val_size  =  round((len(df)*0.20))

train_size, val_size

(4608, 1152)

In [7]:
train_df = df[:train_size]
val_df = df[train_size:]

In [8]:
train_df.tail()

,Date Time,Heater Heat Output,T.F Heater Outlet Flow Transmitter,T.F. Heater Serpentine Coil Outlet Temperature,Heater Outlet Flue Gas O2 Analyzer,T.F. Heater Outlet Flue Gas Temperature,Average T.F. Heater Outlet Temperature,Average T.F. Heater Serpentine Coil Inlet Temperature,Average Furnace Exit Temperature
4603,2024-09-02 05:50:00,4993324.5,491.554688,219.300003,6.482386,403.100006,231.099996,209.150002,678.149994
4604,2024-09-02 06:00:00,4981369.5,499.851562,219.000000,6.014902,412.000000,230.899999,209.149994,679.000000
4605,2024-09-02 06:10:00,5212754.0,499.500000,217.899994,6.437174,409.899994,229.999995,207.500000,669.100006
4606,2024-09-02 06:20:00,5212486.0,497.742188,216.800003,5.832248,421.000000,228.933329,206.150002,681.399994
4607,2024-09-02 06:30:00,5625693.5,503.414062,219.500000,6.021231,439.299988,232.266663,207.950005,712.100006

In [9]:
val_df.head()

,Date Time,Heater Heat Output,T.F Heater Outlet Flow Transmitter,T.F. Heater Serpentine Coil Outlet Temperature,Heater Outlet Flue Gas O2 Analyzer,T.F. Heater Outlet Flue Gas Temperature,Average T.F. Heater Outlet Temperature,Average T.F. Heater Serpentine Coil Inlet Temperature,Average Furnace Exit Temperature
4608,2024-09-02 06:40:00,5819374.5,506.132812,218.800003,6.398293,438.399994,230.966665,206.550003,676.100006
4609,2024-09-02 06:50:00,5011982.0,501.656250,216.800003,6.947157,417.200012,228.500000,206.650002,657.850006
4610,2024-09-02 07:00:00,4910060.0,489.070312,217.399994,6.460684,422.500000,228.566661,206.650002,663.849976
4611,2024-09-02 07:10:00,5715686.5,490.523438,218.600006,5.434390,442.100006,232.033330,207.000000,709.899994
4612,2024-09-02 07:20:00,6125996.0,495.117188,222.399994,5.283384,452.000000,236.799998,210.349998,757.750000

In [10]:
val_df.tail()

,Date Time,Heater Heat Output,T.F Heater Outlet Flow Transmitter,T.F. Heater Serpentine Coil Outlet Temperature,Heater Outlet Flue Gas O2 Analyzer,T.F. Heater Outlet Flue Gas Temperature,Average T.F. Heater Outlet Temperature,Average T.F. Heater Serpentine Coil Inlet Temperature,Average Furnace Exit Temperature
5755,2024-09-10 05:50:00,5142770.5,489.726562,223.199997,6.488715,392.299988,236.03333,212.949997,716.25
5756,2024-09-10 06:00:00,5142770.5,489.726562,223.199997,6.488715,392.299988,236.03333,212.949997,716.25
5757,2024-09-10 06:10:00,5142770.5,489.726562,223.199997,6.488715,392.299988,236.03333,212.949997,716.25
5758,2024-09-10 06:20:00,5142770.5,489.726562,223.199997,6.488715,392.299988,236.03333,212.949997,716.25
5759,2024-09-10 06:30:00,5142770.5,489.726562,223.199997,6.488715,392.299988,236.03333,212.949997,716.25

In [13]:
train_df.to_csv('../dataset/train_df.csv', index=False)
val_df.to_csv('../dataset/val_df.csv', index=False)