Analyze the Single Data File

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import glob

In [2]:
dataset_dir = "../dataset"
sample_xlsx = "August/01.08.2024-02.08.2024.xlsx"
file_path = os.path.join(dataset_dir, sample_xlsx)
df_1 = pd.read_excel(file_path, sheet_name="Group-1", skiprows=7)
df_2 = pd.read_excel(file_path, sheet_name="Group-2", skiprows=7)
df_3 = pd.read_excel(file_path, sheet_name="Group-3", skiprows=7)
df_4 = pd.read_excel(file_path, sheet_name="Group-4", skiprows=7)

In [3]:
df_1 = df_1.drop(0,axis=0)
df_2 = df_2.drop(0,axis=0)
df_3 = df_3.drop(0,axis=0)
df_4 = df_4.drop(0,axis=0)

In [4]:
df_2.head()

,Date Time,T.F. Heater Serpentine Coil Inlet Temperature No.1,T.F. Heater Serpentine Coil Inlet Temperature No.2,T.F. Heater Serpentine Coil Outlet Temperature,T.F. Heater Outlet Temperature - 1,T.F. Heater Outlet Temperature - 2 (Modulation),T.F. Heater Outlet Temperature - 3 (Safety),T.F. Expansion Tank Temperature - From Client
1,2024-08-01 06:40:00,35,37.099998,42.400002,45.400002,46.300003,41.099998,42.700001
2,2024-08-01 06:50:00,34.900002,37,42.400002,45.400002,46.200001,41.099998,42.799999
3,2024-08-01 07:00:00,34.799999,36.900002,42.299999,45.299999,46.200001,41,43.200001
4,2024-08-01 07:10:00,34.700001,36.799999,42.299999,45.299999,46.100002,41,43.599998
5,2024-08-01 07:20:00,34.599998,36.799999,42.299999,45.200001,46.100002,40.900002,44

In [5]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 1 to 144
Data columns (total 10 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Date Time                                                144 non-null    object
 1   T.F.DIFF.Pressure Across Serpentine Coil                 144 non-null    object
 2   T.F Diff. Pressure Transmitter Across MPA                144 non-null    object
 3   T.F Heater Outlet Flow Transmitter                       144 non-null    object
 4   Furnace Draft Transmitter                                144 non-null    object
 5   PFD Fan Outlet Pressure Transmitter                      144 non-null    object
 6   SFD Fan Outlet Pressure Transmitter                      144 non-null    object
 7   T.F Circulation Pump Outlet Header Pressure Transmitter  144 non-null    object
 8   Heater Heat Output                                       144 non-null    object
 9   Total Load Output                                        144 non-null    object
dtypes: object(10)
memory usage: 11.4+ KB

In [6]:
columns=[]
list_of_dfs = [df_1, df_2, df_3, df_4]
for df in list_of_dfs:
    columns = columns + df.columns.tolist()
unique_columns = set(columns)
for i, col in enumerate(unique_columns):
    print (f"Column {i+1}: {col}")

Column 1: Date Time
Column 2: T.F.DIFF.Pressure Across Serpentine Coil
Column 3: T.F. Heater Serpentine Coil Outlet Temperature
Column 4: Economiser Inlet Water Temperature
Column 5: T.F. Heater Serpentine Coil Inlet Temperature No.2
Column 6: Hydraulic Power Pack Oil Tank Temperature - Grate
Column 7: Total Load Output
Column 8: Heater Heat Output
Column 9: Primary Air Damper No.3 Position Feedback
Column 10: T.F Diff. Pressure Transmitter Across MPA
Column 11: T.F. Heater Outlet Temperature - 2 (Modulation)
Column 12: Secondary Air Damper No.1 Position Feedback
Column 13: Economiser Outlet Water Temperature
Column 14: T.F. Heater Outlet Temperature - 1
Column 15: T.F Heater Outlet Flow Transmitter
Column 16: Economiser Bypass Flue Gas Damper Position Feedback
Column 17: PFD Fan Outlet Pressure Transmitter
Column 18: T.F. Heater Outlet Flue Gas Temperature
Column 19: T.F Circulation Pump Outlet Header Pressure Transmitter
Column 20: Secondary Air Damper No.2 Position Feedback
Column 21: T.F. Heater Serpentine Coil Inlet Temperature No.1
Column 22: Primary Air Damper No.2 Position Feedback
Column 23: Economiser Inlet Flue Gas Damper Position Feedback
Column 24: T.F. Expansion Tank Temperature - From Client
Column 25: SFD Fan Outlet Pressure Transmitter
Column 26: Economiser Outlet Flue Gas Temperature
Column 27: Furnace Exit Temperature -1
Column 28: Furnace Draft Transmitter
Column 29: T.F. Heater Outlet Temperature - 3 (Safety)
Column 30: Furnace Exit Temperature -2
Column 31: Heater Outlet Flue Gas O2 Analyzer
Column 32: Primary Air Damper No.1 Position Feedback

In [7]:
df_1.tail()

,Date Time,T.F.DIFF.Pressure Across Serpentine Coil,T.F Diff. Pressure Transmitter Across MPA,T.F Heater Outlet Flow Transmitter,Furnace Draft Transmitter,PFD Fan Outlet Pressure Transmitter,SFD Fan Outlet Pressure Transmitter,T.F Circulation Pump Outlet Header Pressure Transmitter,Heater Heat Output,Total Load Output
140,2024-08-02 05:50:00,0.803458,2.549009,499.664062,-2.488426,92.248985,198.712387,7.592593,5068401.5,17284.349609
141,2024-08-02 06:00:00,0.807364,2.549009,502.125,-4.031033,105.396408,200.014465,7.64757,6488654,17285.509766
142,2024-08-02 06:10:00,0.801143,2.543584,495.164062,-1.416016,92.881943,200.159149,7.649306,5527962,17286.671875
143,2024-08-02 06:20:00,0.802228,2.541052,490.242188,-2.396194,90.422455,199.68895,7.648727,5424384.5,17287.832031
144,2024-08-02 06:30:00,0.817925,2.58988,493.148438,-1.457611,80.331306,200.303818,7.679977,5436084.5,17288.994141

In [8]:
file_paths = glob.glob("/home/nipuna/Documents/MSC-All/AI-Development-for-Biomass-Heaters/dataset/August/*.xlsx")
aug_list = []
sep_list = []   
for file_path in file_paths:
    if os.path.isfile(file_path) and file_path.endswith('08.2024.xlsx'):
        aug_list.append(file_path)
    elif os.path.isfile(file_path) and file_path.endswith('09.2024.xlsx'):
        sep_list.append(file_path)

In [9]:
aug_date_list = []
for file_path in aug_list:
    date = file_path.split('/')[-1].rsplit('.',1)[0]
    aug_date_list.append(date)  
sorted_aug_date_list = sorted(aug_date_list)
print(sorted_aug_date_list)

['01.08.2024-02.08.2024', '02.08.2024-03.08.2024', '03.08.2024-04.08.2024', '04.08.2024-05.08.2024', '05.08.2024-06.08.2024', '06.08.2024-07.08.2024', '07.08.2024-08.08.2024', '08.08.2024-09.08.2024', '09.08.2024-10.08.2024', '10.08.2024-11.08.2024', '11.08.2024-12.08.2024', '12.08.2024-13.08.2024', '13.08.2024-14.08.2024', '14.08.2024-15.08.2024', '15.08.2024-16.08.2024', '16.08.2024-17.08.2024', '17.08.2024-18.08.2024', '18.08.2024-19.08.2024', '19.08.2024-20.08.2024', '20.08.2024-21.08.2024', '21.08.2024-22.08.2024', '22.08.2024-23.08.2024', '23.08.2024-24.08.2024', '24.08.2024-25.08.2024', '25.08.2024-26.08.2024', '26.08.2024-27.08.2024', '27.08.2024-28.08.2024', '28.08.2024-29.08.2024', '29.08.2024-30.08.2024', '30.08.2024-31.08.2024']

In [10]:
df_aug_1 = pd.DataFrame()
df_aug_2 = pd.DataFrame()
df_aug_3 = pd.DataFrame()
df_aug_4 = pd.DataFrame()

for date_to_find in sorted_aug_date_list:
    matching_files = [file for file in aug_list if date_to_find in file]
    df_aug_1 = pd.concat([df_aug_1, pd.read_excel(matching_files[0], sheet_name="Group-1", skiprows=7).drop(0,axis=0)], ignore_index=True)
    df_aug_2 = pd.concat([df_aug_2, pd.read_excel(matching_files[0], sheet_name="Group-2", skiprows=7).drop(0,axis=0)], ignore_index=True)
    df_aug_3 = pd.concat([df_aug_3, pd.read_excel(matching_files[0], sheet_name="Group-3", skiprows=7).drop(0,axis=0)], ignore_index=True)
    df_aug_4 = pd.concat([df_aug_4, pd.read_excel(matching_files[0], sheet_name="Group-4", skiprows=7).drop(0,axis=0)], ignore_index=True)
    
df_aug_1["Date Time"] = pd.to_datetime(df_aug_1["Date Time"])
df_aug_2["Date Time"] = pd.to_datetime(df_aug_2["Date Time"])
df_aug_3["Date Time"] = pd.to_datetime(df_aug_3["Date Time"])
df_aug_4["Date Time"] = pd.to_datetime(df_aug_4["Date Time"])

In [11]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 1 to 144
Data columns (total 8 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Date Time                                          144 non-null    object
 1   Economiser Inlet Water Temperature                 144 non-null    object
 2   Economiser Outlet Water Temperature                144 non-null    object
 3   Economiser Outlet Flue Gas Temperature             144 non-null    object
 4   Hydraulic Power Pack Oil Tank Temperature - Grate  144 non-null    object
 5   T.F. Heater Outlet Flue Gas Temperature            144 non-null    object
 6   Furnace Exit Temperature -1                        144 non-null    object
 7   Furnace Exit Temperature -2                        144 non-null    object
dtypes: object(8)
memory usage: 9.1+ KB

In [12]:
df_1.value_counts().sum()

np.int64(144)

In [13]:
sep_date_list = []
for file_path in sep_list:
    date = file_path.split('/')[-1].rsplit('.',1)[0]
    sep_date_list.append(date)  
sorted_sep_date_list = sorted(sep_date_list)
print(sorted_sep_date_list)

['01.09.2024-02.09.2024', '02.09.2024-03.09.2024', '03.09.2024-04.09.2024', '04.09.2024-05.09.2024', '05.09.2024-06.09.2024', '06.09.2024-07.09.2024', '07.09.2024-08.09.2024', '08.09.2024-09.09.2024', '09.09.2024-10.09.2024', '31.08.2024-01.09.2024']

In [14]:
df_sep_1 = pd.DataFrame()
df_sep_2 = pd.DataFrame()
df_sep_3 = pd.DataFrame()
df_sep_4 = pd.DataFrame()

for date_to_find in sorted_sep_date_list:
    matching_files = [file for file in sep_list if date_to_find in file]
    df_sep_1 = pd.concat([df_sep_1, pd.read_excel(matching_files[0], sheet_name="Group-1", skiprows=7).drop(0,axis=0)], ignore_index=True)
    df_sep_2 = pd.concat([df_sep_2, pd.read_excel(matching_files[0], sheet_name="Group-2", skiprows=7).drop(0,axis=0)], ignore_index=True)
    df_sep_3 = pd.concat([df_sep_3, pd.read_excel(matching_files[0], sheet_name="Group-3", skiprows=7).drop(0,axis=0)], ignore_index=True)
    df_sep_4 = pd.concat([df_sep_4, pd.read_excel(matching_files[0], sheet_name="Group-4", skiprows=7).drop(0,axis=0)], ignore_index=True)
    
df_sep_1["Date Time"] = pd.to_datetime(df_sep_1["Date Time"])
df_sep_2["Date Time"] = pd.to_datetime(df_sep_2["Date Time"])
df_sep_3["Date Time"] = pd.to_datetime(df_sep_3["Date Time"])
df_sep_4["Date Time"] = pd.to_datetime(df_sep_4["Date Time"])

In [15]:
df_sep_1 = df_sep_1.sort_values(by=['Date Time'], ascending=[True], ignore_index=True)
df_sep_2 = df_sep_2.sort_values(by=['Date Time'], ascending=[True], ignore_index=True)
df_sep_3 = df_sep_3.sort_values(by=['Date Time'], ascending=[True], ignore_index=True)
df_sep_4 = df_sep_4.sort_values(by=['Date Time'], ascending=[True], ignore_index=True)

In [16]:

df_sep_1.head()

,Date Time,T.F.DIFF.Pressure Across Serpentine Coil,T.F Diff. Pressure Transmitter Across MPA,T.F Heater Outlet Flow Transmitter,Furnace Draft Transmitter,PFD Fan Outlet Pressure Transmitter,SFD Fan Outlet Pressure Transmitter,T.F Circulation Pump Outlet Header Pressure Transmitter,Heater Heat Output,Total Load Output
0,2024-08-31 06:40:00,0,3.101671,542.273438,-2.497469,92.484085,200.774017,7.384838,5647759.5,22097.318359
1,2024-08-31 06:50:00,0,3.168403,546.609375,-1.358145,81.34404,198.350693,7.456018,6738905,22098.478516
2,2024-08-31 07:00:00,0,2.447917,485.390625,-2.217159,97.710503,200.810181,7.684607,6447022,22099.640625
3,2024-08-31 07:10:00,0,2.41229,482.203125,-2.253328,89.066116,200.050629,7.677662,6679335.5,22100.800781
4,2024-08-31 07:20:00,0,2.362558,479.695312,-2.940538,102.24971,199.90596,7.550347,5805583.5,22101.960938

In [17]:
df_s1 = pd.concat([df_aug_1, df_sep_1], ignore_index=True)
df_s2 = pd.concat([df_aug_2, df_sep_2], ignore_index=True)
df_s3 = pd.concat([df_aug_3, df_sep_3], ignore_index=True)
df_s4 = pd.concat([df_aug_4, df_sep_4], ignore_index=True)

In [18]:
df_s1.head()

,Date Time,T.F.DIFF.Pressure Across Serpentine Coil,T.F Diff. Pressure Transmitter Across MPA,T.F Heater Outlet Flow Transmitter,Furnace Draft Transmitter,PFD Fan Outlet Pressure Transmitter,SFD Fan Outlet Pressure Transmitter,T.F Circulation Pump Outlet Header Pressure Transmitter,Heater Heat Output,Total Load Output
0,2024-08-01 06:40:00,0.001374,0.003436,0,-1.195385,0,0.506366,1.232639,0,17168.501953
1,2024-08-01 06:50:00,0.001447,0.003436,0,-1.184534,0,0.542535,1.250579,0,17168.501953
2,2024-08-01 07:00:00,0.001447,0.003436,0,-1.164642,0,0.542535,1.251736,0,17168.501953
3,2024-08-01 07:10:00,0.001447,0.003436,0,-1.186342,0,0.542535,1.244792,0,17168.501953
4,2024-08-01 07:20:00,0.001519,0.003436,0,-1.159216,0,0.542535,1.224537,0,17168.501953

In [19]:
df_s1.tail()

,Date Time,T.F.DIFF.Pressure Across Serpentine Coil,T.F Diff. Pressure Transmitter Across MPA,T.F Heater Outlet Flow Transmitter,Furnace Draft Transmitter,PFD Fan Outlet Pressure Transmitter,SFD Fan Outlet Pressure Transmitter,T.F Circulation Pump Outlet Header Pressure Transmitter,Heater Heat Output,Total Load Output
5755,2024-09-10 05:50:00,0,3.435511,560.0625,-0.674551,0,0.651042,7.314236,-76903.3125,23643.677734
5756,2024-09-10 06:00:00,0,3.464446,550.945312,-0.699871,0,0.614873,7.307292,-50408.453125,23643.677734
5757,2024-09-10 06:10:00,0,3.451787,555.820312,-0.679977,0,0.651042,7.336806,-76249.554688,23643.677734
5758,2024-09-10 06:20:00,0,3.479637,550.617188,-0.703487,0,0.651042,7.344907,-75502.625,23643.677734
5759,2024-09-10 06:30:00,0,3.45251,546.84375,-0.703487,0,0.614873,7.337384,-49965.65625,23643.677734