In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [ ]:
dataset_dir = "../dataset"
sample_xlsx = "August/01.08.2024-02.08.2024.xlsx"
file_path = os.path.join(dataset_dir, sample_xlsx)
df_1 = pd.read_excel(file_path, sheet_name="Group-1", skiprows=7)
df_2 = pd.read_excel(file_path, sheet_name="Group-2", skiprows=7)
df_3 = pd.read_excel(file_path, sheet_name="Group-3", skiprows=7)
df_4 = pd.read_excel(file_path, sheet_name="Group-4", skiprows=7)

In [3]:
df_1 = df_1.drop(0,axis=0)
df_2 = df_2.drop(0,axis=0)
df_3 = df_3.drop(0,axis=0)
df_4 = df_4.drop(0,axis=0)

In [7]:
df_4.head()

,Date Time,Economiser Inlet Water Temperature,Economiser Outlet Water Temperature,Economiser Outlet Flue Gas Temperature,Hydraulic Power Pack Oil Tank Temperature - Grate,T.F. Heater Outlet Flue Gas Temperature,Furnace Exit Temperature -1,Furnace Exit Temperature -2
1,2024-08-01 06:40:00,55.700001,52.299999,48.200001,30.4,55.099998,53.200001,52.400002
2,2024-08-01 06:50:00,56.200001,52.099998,48.400002,30.299999,54.700001,52.900002,52.200001
3,2024-08-01 07:00:00,56.400002,52.299999,48.299999,30.299999,54.299999,52.5,51.799999
4,2024-08-01 07:10:00,56.400002,52.599998,48.5,30.200001,54.200001,52.299999,51.5
5,2024-08-01 07:20:00,56.200001,52.799999,48.5,30.1,54.299999,52.200001,51.299999