In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("jun_july_merged.csv")
df.head()

             Date Time  T.F. Heater Serpentine Coil Inlet Temperature
0  2024-06-22 00:00:00                                     221.500000
1  2024-06-22 00:02:00                                     220.899994
2  2024-06-22 00:04:00                                     220.500000
3  2024-06-22 00:06:00                                     220.600006
4  2024-06-22 00:08:00                                     220.800003

In [7]:
df.tail()

               Date Time  T.F. Heater Serpentine Coil Inlet Temperature
8382 2024-07-03 15:24:00                                     222.300003
8383 2024-07-03 15:26:00                                     222.199997
8384 2024-07-03 15:28:00                                     222.699997
8385 2024-07-03 15:30:00                                     222.899994
8386 2024-07-03 15:32:00                                     223.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8387 entries, 0 to 8386
Data columns (total 2 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Date Time                                      8387 non-null   datetime64[ns]
 1   T.F. Heater Serpentine Coil Inlet Temperature  8387 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 131.2 KB

In [4]:
df['Date Time'] = pd.to_datetime(df['Date Time'])

In [8]:
start_date = pd.to_datetime("2024-06-22 00:00:00")
end_date = pd.to_datetime("2024-07-03 15:32:00")

In [ ]:
# Set Date Time as index for resampling
df_indexed = df.set_index('Date Time')
start_time = df_indexed.index[0]
print(f"Start time: {start_time}")
df_indexed.head()

In [ ]:
# Create sampling folder if it doesn't exist
import os
os.makedirs('../dataset/sampling', exist_ok=True)

In [ ]:
# Select data at 2 minute interval (original dataset - keep all rows)
df_2min = df.copy()
df_2min.to_csv('../dataset/sampling/sampled_2min.csv', index=False)
print(f"2 min interval: {len(df_2min)} rows")
df_2min.head()

In [ ]:
# Select data at 4 minute interval (keep original values, not averaged)
# Select rows where time difference from start is a multiple of 4 minutes
minutes_from_start = (df_indexed.index - start_time).total_seconds() / 60
df_4min = df_indexed[minutes_from_start % 4 == 0]
df_4min = df_4min.reset_index()
df_4min.to_csv('../dataset/sampling/sampled_4min.csv', index=False)
print(f"4 min interval: {len(df_4min)} rows")
print(f"Value at 2024-06-22 00:04:00: {df_4min[df_4min['Date Time'] == '2024-06-22 00:04:00']['T.F. Heater Serpentine Coil Inlet Temperature'].values[0] if len(df_4min[df_4min['Date Time'] == '2024-06-22 00:04:00']) > 0 else 'Not found'}")
df_4min.head()

In [ ]:
# Select data at 6 minute interval (keep original values, not averaged)
# Select rows where time difference from start is a multiple of 6 minutes
minutes_from_start = (df_indexed.index - start_time).total_seconds() / 60
df_6min = df_indexed[minutes_from_start % 6 == 0]
df_6min = df_6min.reset_index()
df_6min.to_csv('../dataset/sampling/sampled_6min.csv', index=False)
print(f"6 min interval: {len(df_6min)} rows")
df_6min.head()

In [ ]:
# Select data at 8 minute interval (keep original values, not averaged)
# Select rows where time difference from start is a multiple of 8 minutes
minutes_from_start = (df_indexed.index - start_time).total_seconds() / 60
df_8min = df_indexed[minutes_from_start % 8 == 0]
df_8min = df_8min.reset_index()
df_8min.to_csv('../dataset/sampling/sampled_8min.csv', index=False)
print(f"8 min interval: {len(df_8min)} rows")
df_8min.head()

In [ ]:
# Select data at 10 minute interval (keep original values, not averaged)
# Select rows where time difference from start is a multiple of 10 minutes
minutes_from_start = (df_indexed.index - start_time).total_seconds() / 60
df_10min = df_indexed[minutes_from_start % 10 == 0]
df_10min = df_10min.reset_index()
df_10min.to_csv('../dataset/sampling/sampled_10min.csv', index=False)
print(f"10 min interval: {len(df_10min)} rows")
df_10min.head()

In [ ]:
# Summary of all created files
print("Summary of created sampling files:")
print(f"2 min interval: {len(df_2min)} rows")
print(f"4 min interval: {len(df_4min)} rows")
print(f"6 min interval: {len(df_6min)} rows")
print(f"8 min interval: {len(df_8min)} rows")
print(f"10 min interval: {len(df_10min)} rows")
print("\nAll files saved to ../dataset/sampling/")